* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: lightblue;
}

h1 {
  text-align: center;
  margin: 20px;
}

form {
  border: 2px solid black;
  width: 40%;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  margin: 10px auto 10px auto;
}

.btn {
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.gender {
  display: inline;
}

span {
  margin-right: 10px;
}

.text {
  font-size: 50px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
